*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Editor2102/EditorFrameworkInterfaces/dist/
/Editor2102/TestPlugin/dist/
/Editor2102/PluginTexto2/nbproject/private/
/Editor2102/PluginTexto/nbproject/private/
/Editor2102/PluginTexto/build/
/Editor2102/PluginTexto/dist/
/Editor2102/EditorFramework/dist/
/Editor2102/ImageFactory/build/
/Editor2102/ImageFactory/dist/
/Editor2102/TextFactory/dist/
/Editor2102/PluginImagem/dist/
/Editor2102/PluginImagem/build/
/Editor2102/EditorFrameworkInterfaces/build/
/Editor2102/EditorFramework/build/
/Editor2102/TextFactory/build/
/editor2702/EditorFramework/build/
/editor2702/EditorFramework/nbproject/private/
/editor2702/EditorFrameworkInterfaces/build/
/editor2702/EditorFrameworkInterfaces/nbproject/private/
/editor2702/ImageFactory/nbproject/private/
/editor2702/TestPlugin/build/
/editor2702/TestPlugin/nbproject/private/
/editor2702/TextFactory/build/
/editor2702/TextFactory/nbproject/private/
/editor20160227/EditorFramework/build/
/editor20160227/EditorFramework/nbproject/private/
/editor20160227/EditorFrameworkInterfaces/build/
/editor20160227/EditorFrameworkInterfaces/nbproject/private/
/editor20160227/ImageFactory/nbproject/private/
/editor20160227/TestPlugin/build/
/editor20160227/TestPlugin/nbproject/private/
/editor20160227/TextFactory/build/
/editor20160227/TextFactory/nbproject/private/
/Editor2102/PluginPDF/build/
/Editor2102/PluginPDF/nbproject/private/
/Editor2102/PluginPDF/dist/
/Editor2102/PDFPlugin/nbproject/private/
/Editor2102/ImagePlugin/nbproject/private/
/Editor2102/TextPlugin/nbproject/private/
/Editor2102/TextPlugin/build/
/Editor2102/TextPlugin/dist/
/Editor2102/PDFPlugin/build/
Editor2102/EditorFramework/nbproject/private/private.xml
/EditorFramework/nbproject/private/
/EditorFrameworkInterfaces/nbproject/private/
/ImagePlugin/nbproject/private/
/PDFPlugin/nbproject/private/
/TextPlugin/nbproject/private/
/EditorFrameworkInterfaces/dist/
/PDFPlugin/build/
/PDFPlugin/dist/
/TextPlugin/build/
/TextPlugin/dist/
/EditorFramework/build/
/EditorFramework/dist/
/EditorFrameworkInterfaces/build/
/ImagePlugin/build
/TextPlugin/build