*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Editor2102/EditorFrameworkInterfaces/dist/
/Editor2102/TestPlugin/dist/
/Editor2102/PluginTexto2/nbproject/private/
/Editor2102/PluginTexto/nbproject/private/
/Editor2102/PluginTexto/build/
/Editor2102/PluginTexto/dist/
/Editor2102/EditorFramework/dist/
/Editor2102/ImageFactory/build/
/Editor2102/ImageFactory/dist/
/Editor2102/TextFactory/dist/
/Editor2102/PluginImagem/dist/
/Editor2102/PluginImagem/build/